*,
*::before,
*::after {
  box-sizing: border-box;
  --primary-1: #495E57;
  --primary-2: #f4ce14;
  --black: #000000;
  --white: #ffffff;
  --secondary-1: #ee9972;
  --secondary-2: #fbdabb;
  --highlight-1: #edefee;
  --highlight-2: #333333;
  font-size: 16px;
  font-family: 'Markazi Text', Karla, serif;
}
/*------------------
Navigation Bar Style
------------------*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  overflow: hidden;
}
nav img {
  width: 200px;
  padding: 14px 16px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 14px 16px;
}
nav ul li:hover {
  background-color: var(--highlight-1);
  color: var(--highlight-2);
}
/*------------------
Header Style
------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-1);
  color: var(--white);
  font: serif;
}
header section {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
header div {
  display: inline-block;
  justify-items: space-between;
  align-content: center;
}
header h2 {
  color: var(--primary-2);
  font-size: 2.5rem;
  padding-top: 20%;
}
header h3 {
  font-size: 1.26rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}
header p {
  max-width: 35ch;
  line-height: 1.5;
}
button {
  background-color: var(--primary-2);
  color: var(--black);
  padding: 20px;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16pt;
  font-weight: bold;
}
button:hover {
  opacity: 0.7;
}
header img {
  height: 400px;
  border-radius: 16pt;
  transform: translatey(25%)
}
/*------------------
Main Style
------------------*/
.main__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 8%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  margin: 1rem;
  text-align: center;
  background-color: var(--highlight-1);
}

.card img {
  width: 100%;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h2 {
  font-size: 1.5rem;
  padding-left: 16px;
}
.price {
  font-size: 1.5rem;
  color: var(--secondary-1);
  font-size: 22px;
  padding-right: 16px;
}
/*------------------
Footer Style
------------------*/
footer {

  width: 100%;
  border-top: 1px solid var(--primary-2);
  background-color: #ffffff;
}
footer section {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
footer li, footer p {
  list-style: none;
  line-height: 1em;
  font-size: 0.7rem;
}
.footer_image {
  align-self: center;
}
.footer_image img {
  width: 50px;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/


 /*
form {
  display: grid;
  max-width: 100%;
  gap: 20px;
}

form div {
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

input[type=submit] {
  background-color: var(--primary-2);
  color: var(--black);
  padding: 0.25em;
  border: none;
  text-decoration: none;
  border-radius: 16px;
  font-size: 16pt;
  font-weight: bold;
}

@media (max-width: 700px) {
  header section, footer section {
    display: grid;
    grid-auto-flow: row;
  }
}

@media (min-width: 701px) {
  footer section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display:grid;
  }
  header section {
    grid-template-columns: 1fr 1fr;
    display:grid;
    justify-items: center;
  }
}
*/